{% extends 'core/base.html' %}
{% load static %}

{% block contenido_info %}

<div>
        <h3 class="texto">RESCATE
            <br>Etapa Uno </h3>
        <hr>
        <br>
        <h3 class="texto2">Rescatamos perros en situacion de peligro y/o abandono. Los rehabilitamos y los
            <br>
            <br> preparamos para buscarles un hogar </h3>



        <img class="imagen2" src="{% static 'core/imagenes/rescate.jpg' %}" alt="eso">

    

    </div>
    <div>
        <img class="imagen3" src="{% static 'core/imagenes/crowfunding.jpg' %}" alt="instagram">



        <h3 class="texto5">CROWFUNDING
            <br>Financiamiento </h3>
        <hr>
        <br>
        <h3 class="texto4">Sigue nuestras redes Sociales para informarte acerca de las diversas campañas y
            <br>
            <br> actividades que realizamos para obtener financiamiento para seguir ayudando </h3>
        <br>
        <br>
        <br>
        <br>
        <td>
            <input class="boton" type="button" value="Campañas" id="btnGuardar" name="btnGuardar">
        </td>
       


        </p>

{% endblock contenido_info %}