{% extends 'core/base.html' %}
{% load static %}
{% block contenido_info %}
<h2>listado de mascotas</h2>

<table class="table table-striped">
    <tr>
        <th>Nombre</th>
        <th>Raza</th>
        <th>Genero</th>
        <th>Fecha Ingreso</th>
        <th>fecha Nacimiento</th>
        <th>Estado</th>
        <th>Imagen</th>
        <th>Opciones</th>
    </tr>

    {% for a in mascotas %}

    <tr>
        <td>{{ a.nombre }}</td>
        <td>{{ a.raza }}</td>
        <td>{{ a.genero }}</td>
        <td>{{ a.fecha_ingreso }}</td>
        <td>{{ a.fecha_nacimiento }}</td>
        <td>{{ a.estado }}</td>
        <td>
        {% if a.imagen %}
        <img src="{{a.imagen.url }}" width="50" height="50">  
        {% endif %}
        </td>
        <td>
            <a  class="btn btn-danger" href="{% url 'eliminar_perro' a.id %}">Eliminar</a>
            <a href="{% url 'modificar_perro' a.id %}">Modificar</a>
        </td>
    </tr>
    {% endfor %}


    
</table>

{% if messages %}

    {% for m in messages %}
    <div>{{ m }}</div>
    {% endfor %}
{% endif %}

{% endblock contenido_info %}